* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background: #333;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
}
body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    position: relative;
}

.bg {
    background: url(../img/bg_blurred_b.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 440px;
    min-height:440px;
    margin-top: -284px;
    box-sizing: border-box;
    white-space: nowrap;
    text-shadow: 1px 1px 4px rgba(0,0,0,.3);
    letter-spacing: 1px;
    float: left;
}
.item .head {
    position: relative;
    padding: 16px;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 1.4em;
}
.item .head.named {
    color: #ffab35;
}
.item .head::before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: #f2c204;
}
.item .main {
    display: table;
    width: 100%;
    margin-bottom: 3px;
    padding: 16px 0 16px;
    font-weight: 600;
}
.item .main .mainstat {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.item .main .mainstat img {
    width: 68px;
    height: auto;

}
.item .talent {
    margin: 0 0 3px;
    white-space: normal;
    padding: 16px;
    font-size: .9em;
}
.item .majors {
    margin: 0 0 3px;
    padding: 16px;
}
.item .minors {
    margin: 0 0 3px;
    padding: 16px;
}
.stat {

}
.stat span {
    color: #ffab35;
    margin-right:4px;
    font-weight:500;
}
.armor {
    margin: 0 0 3px;
    padding: 16px;
}
#armor {
    font-size: 3em;
    line-height: 1em;
    font-weight: 500;
}
#roll-container {
    position: absolute;
    width: 96%;
    bottom: 2%;
    left: 50%;
    margin-left: -48%;
    text-align: left;
    white-space: nowrap;
}
.button {
    display: inline-block;
    /*float: left;*/
    margin: 0 auto 0;
    padding:16px;
    cursor: pointer;
    text-align: center;
    transition: 100ms all ease-in-out;
}
.button.disabled {
    opacity: .5;
    transform: scaleY(.1);
}
.button:hover {
    background: url(../img/bg_blurred_w.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.button.active, .button:active {
    transform: scale(.9);
}
.hint {
    color: #ffab35;
    margin-right: 10px;
    font-weight: 500;
}

#console {
    width: 96%;
    position: absolute;
    top: 2%;
    left: 2%;
    right: 2%;
    bottom: 90px;
    /*background: rgba(0,0,0,.4);*/
    font-family: monospace;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    overflow-y: scroll;
}

#console p {
    margin-bottom: 6px;
    padding:3px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
}

#console p.note {
    color: rgba(255,255,255,.3);
}
#console p.drop {
    color: rgba(255,255,255,.7);
}
#console p.named {
    color: rgba(244, 194, 66,1);
}
#console p.barrett {
    background-color: rgba(244, 194, 66,1);
    color: #000;
    font-weight: bold;
}
#console p.skin {
    color: rgba(66, 226, 244, 1);
}

.con-gear {color: rgba(244, 194, 66,1)}
.con-setgear {color: rgba(66, 244, 143,1)}
.con-showstoppers {
    background-color: rgba(244, 194, 66,1);
    color: #000;
}
.con-weapons {color: rgba(244, 194, 66,1)}
.con-weaponmods {color: rgba(244, 194, 66,1)}
.con-gearmods {color: rgba(244, 194, 66,1)}
.con-perfmods {color: rgba(244, 194, 66,1)}

.durlbl {
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
}

#dur {
    outline: none;
    /*background: transparent;*/
    border: none;
    color: #fff;
    font-size: 18px;
    /*padding: 16px;*/
    height: 54px;
    width: 70px;
    text-align: center;
    margin-left:10px;
}

.currency {
    padding: 16px;
}

.currency img {
    position: relative;
    width: 28px;
    height: auto;
    top: 8px;
    margin-right: 10px;
}

#disclaimer {
    position: absolute;
    font-size: 10px;
    bottom: .5%;
    right: 2%;
    left: 2%;
    width: 96%;
    text-align: right;
    opacity: .4;
}

#disclaimer a {
    color: #fff !important;
}

@media screen and (max-width: 900px) {
    html, body {
        font-size: 1em;
    }
    #holder {
        padding: 3% 5% 0;
    }
    .item {
        position: relative;
        top: auto;
        left: auto;
        margin: 0;
        width: 100%;
    }
    #roll-container {
        top: auto;
        right: auto;
        margin: 0;
        width: 90%;
        bottom: 3%;
        left: 5%;
    }
}

